            <div class="row" id="formulario">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Prueba de producto</h4></li>
                    <?php if(isset($_SESSION["cajero"])): ?>
                        <?php foreach($_SESSION["cajero"] as $cajero): ?>
                            <li class="collection-item">
                              <p><?=$cajero[0] ?> <?=$cajero[1] ?></p>
                            </li>
                        <?php endforeach ?>
                    <?php endif ?>
                </ul>
                <form class="col s12" action="resgistro.php" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-field col s6 l6">
                            <i class="material-icons prefix">shopping_cart</i>
                            <input id="icon_prefix" type="text" name="nombre" class="validate">
                            <label for="icon_prefix">Nombre del producto</label>
                        </div>
                        <div class="input-field col s6 l6">
                            <i class="material-icons prefix">poll</i>
                            <input id="icon_prefix" type="text" name="costo" class="validate">
                            <label for="icon_prefix">Precio del producto</label>
                        </div>
                    </div>
                    <input class="btn waves-effect waves-light" type="submit" name="action" value="Enviar">
                </form>
                <a onclick="cerrar_orden()">terminar</a>
            </div>
        </div>
    </div>
</body>