    <div class="nav-wrapper green darken-3">
        <a href="#!" class="brand-logo">Alfa v.1</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn green darken-1" href="resgistro.php">Productos</a></li>
            <li><a class="waves-effect waves-light btn green darken-1" href="Orden.html">Orden</a></li>
            <li><a class="waves-effect waves-light btn green darken-1" href="directorio.php">Directorio</a></li>
            <li><a class="waves-effect waves-light btn green darken-1" href="logout.php">Salir<i class="medium material-icons right">power_settings_new</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a class="waves-effect waves-light btn green darken-1" href="resgistro.php">Productos<i class="medium material-icons right">store</i></a></li>
            <li><a class="waves-effect waves-light btn green darken-1" href="Orden.html">Orden<i class="medium material-icons right">shopping_cart</i></a></li>
            <li><a class="waves-effect waves-light btn green darken-1" href="Directorio.html">Directorio<i class="medium material-icons right">perm_identity</i></a></li>
            <li><a class="waves-effect waves-light btn green darken-1" href="logout.php">Salir<i class="medium material-icons right">power_settings_new</i></a></li>
        </ul>
    </div>