#formulario_3{
    visibility: hidden;
    display: none;
}

#formulario_2{
    visibility: hidden;
    display: none;
}

#formulario{
    display: none;
}

#formulario_cliente{
    visibility: hidden;
    display: none;
}