@charset "UTF-8";

body{
    background-image: url(Wallpaper.jpg);
    background-attachment: fixed;
    background-size:cover;
    font-size: 16px;
}

.wrapper{
    background-color: white;
    width: 960px;
    margin: 0 auto; /*center horizontaly*/
    padding: 20px;
}

.botones ul{
    background-color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.botones li{
    display: inline;
}

.botones li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.botones li a:hover{
    background-color: firebrick;
}

.contenido{
    margin-top: 0px;
}

/*prueba de boton despliegue*/
.cascada_1{
    text-align: center;
    position: relative;
    display: inline-block;
}

.cascada_2{
    text-align: center;
    position:relative;
    display: inline-block;
}


.cascada_menu{
    display: none;
    position: fixed;
    background-color: black;
    padding: 10px 10px;
}

.cascada_1:hover .cascada_menu{
    margin: 10px auto;
    display: block;
}

.cascada_2:hover .cascada_menu{
    margin: 10px auto;
    display: block;
}

#compras{
    visibility: hidden;
    display: none;
}

#valida{
    text-align: center;
}

#correcto{
    visibility: hidden;
    display: none;
}

#incorrecto{
    visibility: hidden;
    display: none;
}

/*imagenes centradas en una sola linea*/
.imagenes{
    width: 240px;
    height: 180px;
    padding: 35px;
    box-sizing: inherit;
}

.tienda{
    text-align: center;
    display: inline-block;
}

.articulos{
    float:left;
}

.marca {
    background: url(Logo.jpg);
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: block;
    position: relative;
}

.marca img{
    padding:0;
    width:101%;
    height:100%; 
    margin:-6px;
    filter:alpha(opacity=90);
    opacity:.90;
}

.cambio_hover:hover{
    text-shadow: 3px 3px gray;
}

/*Prueba drag*/
#div1, #div2, #div3{
    float: left;
    width: 147px;
    height: 147px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#drag1{
    height: 140px;
}

.cuadros{
    text-align:center;
    display: inline-block;
}
